#tela-login{
   padding-left:40%;
   padding-right:40%;
   
}

form div{
     padding:10px;
}

form div:last-of-type{
    text-align:right
}

#msg-erro{
    display: none;
    color: red;
}


#btn_logout{
    display: inline-block;
    background-color: bisque;
    padding: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
}
